
<ion-content [fullscreen]="true">
  <!-- <video src="/assets/video-2.mp4" autoPlay loop muted></video> -->
  <img class="home-img" src="/assets/img-home.jpg"/>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 style="color: #ffffff;font-size: 80px;">Ionic Tutorial</h1>
    <p  style="color: #ffffff;font-size: 20px;">Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
